/** Layout **/

$desktop: 1440px;



/** Colors **/

// Primary

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);



/** Typography **/

// Body Copy

$font-body: 32px;

// Font

$font-light: 300;
$font-medium: 500;
$font-bold: 700;